<!--Contact List-->
<div class="col-md-3">
  <table style="width: 100%">
    <tr class="contact_header">
      <th scope="col">
        <div>Contact List</div>
      </th>
    </tr>

    <tr>
      <td
        style="
          padding-bottom: 5%;
          padding-right: 2%;
          padding-left: 2%;
          padding-top: 5%;
        "
      >
        <form class="d-flex">
          <input
            class="search_contact"
            type="search"
            placeholder="Line Username"
            aria-label="Search"
          />
          <button
            class="btn btn-outline-primary"
            type="submit"
            style="margin-left: 2%"
          >
            Search
          </button>
        </form>
      </td>
    </tr>
    <!--have to be loop of getUsername-->
    <form action="/profile" method="POST"></form>
      <% for(let i = 0 ; i< contactlists.length;i++) {%>
      <tr>
        <td class="contact_list">
          <a
            href="/profile/<%= contactlists[i].userID %>"
            
            class="contact_username"
          >
          &#8226; &nbsp;&nbsp;<%= contactlists[i].nickName%>
          </a>
        </td>
      </tr>
      <%} %>
    </form>
    <!--ending loop-->
  </table>
</div>
<!--Ending of Contact List-->
