<!DOCTYPE html>
<html>

<head>
    <%- include component/import%>
    
</head>

<body>
    <%- include component/navbar%>
        <div class="container-fluid">
            <div class="row">
                <%- include component/contactList%>
                    <div class="col-md-9">
                        <% include component/profileNav%>

                            <div style="font-size: 32px; font-weight: 700; color: #6E89EA;"><%= contactlists.find(el => el.userID === getUserID).nickName %></div>
                            <hr>

                            <div>
                                <canvas id="myChart" style="height:50vh; width:80vw"></canvas>
                                <script>
                                    var ctx = document.getElementById('myChart').getContext('2d');
                                    var myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                            datasets: [{
                                                label: 'scale of user feeling',
                                                data: [12, 19, -3, 5, 2, -3],
                                                borderColor: [
                                                    'rgba(191, 186, 255, 1)'
                                                ],
                                                borderWidth: 1.5,
                                                tension: 0.3

                                            }]
                                        },
                                        options: {

                                        },
                                    });
                                </script>
                            </div>

                            <h1>Chat History</h1>
                            <hr>
                            <table class="chat_history_table">
                                <tr style="color: #786EEA; background-color: #E3E1F7; font-size: 24px;">
                                    <th>Date</th>
                                    <th>Content</th>
                                    <th>State</th>
                                </tr>
                                <!--Begining of Chat Loop-->
                                <tr>
                                    <td id="chat_date">22-03-2021</td>
                                    <td id="chat_content" style="text-align: left;">รู้สึกไม่ดีเลย
                                        เพื่อนไม่ยอมทำงานที่ตกลงกันไว้ พอเตือนก็ชักสีหน้า เสียสุขภาพจิตมาก ๆ</td>
                                    <td id="chat_state" class="chat_list"><button type="button"
                                            class="btn btn_negative">Negative</button></td>
                                </tr>
                                <tr>
                                    <td id="chat_date"> </td>
                                    <!--If same date with above not show date-->
                                    <td id="chat_content" style="text-align: left;">ให้งานอะไรไปทำก็ทำไม่ถูก
                                        ทั้งกลุ่มต้องหยุดงานมาทำแทน น่าหงุดหงิดมาก</td>
                                    <td id="chat_state" class="chat_list"><button type="button"
                                            class="btn btn_negative">Negative</button></td>
                                </tr>

                                <tr>
                                    <td id="chat_date">22-03-2021</td>
                                    <td id="chat_content" style="text-align: left;">ดีขึ้นบ้างละ
                                        ดีนะที่บอกแล้วยังฟังกันบ้าง</td>
                                    <td id="chat_state" class="chat_list"><button type="button"
                                            class="btn btn_positive">Positive</button></td>
                                </tr>
                                <!--Ending of chat Loop-->
                            </table>
                            <div style="text-align: right; margin: 1%;"><a href="#">see all chat history</a></div>

                            <h1>Depression Assessment</h1>
                            <hr>
                            <table class="chat_history_table">
                                <tr style="color: #786EEA; background-color: #E3E1F7; font-size: 24px;">
                                    <th style="width: 30%;">Time</th>
                                    <th style="width: 20%;">Type</th>
                                    <th colspan="3">Result</th>
                                    <th>State</th>
                                </tr>
                                <!--Begining of Assessment Loop-->
                                <tr>
                                    <td id="assess_date">22-03-2021 21:00 pm</td>
                                    <td id="assess_type">DASS</td>
                                    <td id="Dscore" class="chat_list">D = 3</td>
                                    <td id="Ascore" class="chat_list">A = 5</td>
                                    <td id="Sscore" class="chat_list">S = 10</td>
                                    <td id="chat_state" class="chat_list"><button type="button"
                                        class="btn btn_positive">Safe</button></td>
                                </tr>
                                <tr>
                                    <td id="assess_date">24-03-2021 12:34 pm</td>
                                    <td id="chat_content">Depression</td>
                                    <td id="chat_state" class="chat_list" colspan="3">20</td>
                                    <td id="chat_state" class="chat_list"><button type="button"
                                        class="btn btn_negative">Danger</button></td>
                                </tr>

                                <tr>
                                    <td id="assess_date">26-04-2021 09:10 am</td>
                                    <td id="assess_type">DASS</td>
                                    <td id="Dscore" class="chat_list">D = 12</td>
                                    <td id="Ascore" class="chat_list">A = 8</td>
                                    <td id="Sscore" class="chat_list">S = 15</td>
                                    <td id="chat_state" class="chat_list"><button type="button"
                                        class="btn btn_negative">Danger</button></td>
                                </tr>
                                <!--Ending of chat Loop-->
                            </table>
                            <div style="text-align: right; margin: 1%;"><a href="#">see all assessment history</a></div>

                    </div>
</body>

</html>