<!DOCTYPE html>
<html lang="en">

<head>
    <%- include component/import%>
        <style>
            .box {
                height: 100%;
                /*position: relative;*/
                text-align: center;
            }

            .box > p {
                position: absolute;
                top: 25%;
                left: 0;
                right: 0;
            }

            .submit {
                background-color: #EBE9FD;
                border: none;
                width: 10%;
                padding: 1%;
                margin-top: 1%;
                margin-bottom: 1%;
                box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                font-family: "Kanit", sans-serif;
            }

            .loginbox {
                width: 40%;
                margin: 1%;
                margin-left: 3%;
                padding: 1%;
                background-color: #EFF3F9;
                border: none;
                font-size: 20px;
            }
        </style>
</head>

<body>

    <form method="POST">
        <div class="box">
            <p><img src="/images/NoomFuuProfile.png" height="150px" width="auto"><br>
                Username: <input class="loginbox" type="text" name="username" id="username" placeholder="Enter Username" required>
                <br>
                Password: <input class="loginbox" type="password" name="password" id="password" placeholder="Enter Password" required>
                <br>
                <button class="submit" type="submit" style="font-size: 28px;">
                    Login
                </button>
            </p>
        </div>
    </form>
</body>

</html>