node_modules/
.vscode/

.DS_Store

package-lock.json

client_secret_856329999838-indv4mv7k2oa39iatapono29kj4l5c6m.apps.googleusercontent.com.json

noomfuuproject-f3b69-firebase-adminsdk-mpbf0-0db0cba4ee.json