<!DOCTYPE html>
<html>

<head>
    <%- include import%>
</head>

<body>
    <%- include navbar%>
        <div class="container-fluid">
            <div class="row">
                <%- include contactList%>
                    <div class="col-md-9">
                        <% include profileNav%>
                    </div>
            </div>
        </div>>
</body>
</html>