<!--Contact List-->
<div class="col-md-3">
  <table style="width: 100%">
    <tr class="contact_header">
      <th scope="col">
        <div>Contact List</div>
      </th>
    </tr>
    <!--have to be loop of getUsername-->

    <tr>
      <td class="contact_list">
        <a href="/profile" class="contact_username">poi</a>
        <!--href to user's page-->
      </td>
    </tr>

    <!--ending loop-->
  </table>
</div>
<!--Ending of Contact List-->
