<!--Contact List-->
<div class="col-md-3">
  <table style="width: 100%">
    <tr class="contact_header">
      <th scope="col">
        <div>Contact List</div>
      </th>
    </tr>

    <tr>
      <td style="padding: 2%;">
        <form class="d-flex">
          <input class="search_contact" type="search" placeholder="Line Username" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit" style="margin-left: 2%;">Search</button>
        </form>
      </td>
    </tr>
    <!--have to be loop of getUsername-->

    <tr>
      <td class="contact_list">
        <a href="/profile" class="contact_username">poi</a>
        <!--href to user's page-->
      </td>
    </tr>

    <!--ending loop-->
  </table>
</div>
<!--Ending of Contact List-->
