<!DOCTYPE html>
<html>
    <head>
        <%- include import%>
    </head>
    <body>
        <%- include navbar%>
        <div class="row">
            <%- include contactList%>

            <div class="col-md-9">
                <% include profileNav%>
            </div>

            
        </div>
    </body>
</html>