<!--User Menu-->
<table class="table" style="text-align: center;">
    <tr>
        <td style="width: 25%;"><a href="/profile" class="user_menu">User Profile</a></td>
        <td style="width: 30%;"><a href="/profile/analytic" class="user_menu">Chat History and Analytic</a></td>
        <td style="width: 25%;"><a href="/profile/appointment" class="user_menu">Appointment</a></td>
        <td style="width: 20%;"><a href="/profile/note" class="user_menu">Note</a></td>
    </tr>
</table>
<!--End of User Menu-->