<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ประเมินโรคซึมเศร้า</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <style>
        html {
            background: url(/images/BG-375-667.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: "Kanit", sans-serif;
        }

        h1 {
            color: #223e63;
            font-weight: 800;
            font-size: 35px;
            line-height: 80%;
        }

        h2 {
            color: #223e63;
            font-weight: 400;
            font-size: 16px;
            padding: 0% 10% 5% 10%;
        }

        h3 {
            color: #223e63;
            font-weight: 300;
            font-size: 20px;
        }

        a {
            text-decoration: none;
        }

        .assess_content {
            text-align: center;
        }

        .question {
            margin: 20% 5% 10% 5%;
        }

        .answer_box {
            background-color: white;
            border: none;
            width: 100%;
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            font-family: "Kanit", sans-serif;
        }
    </style>
</head>

<body>
    <script>
        function runApp() {
            liff.getProfile().then(profile => {
                const userProfile = profile.userId;
                const displayName = profile.displayName;
                const statusMessage = profile.statusMessage;
                const pictureUrl = profile.pictureUrl;
            }).catch(
                err => console.error(err)
            );
        }

        liff.init({ liffId: "1655710592-RN7GEeaL" }, () => {
            if (liff.isLoggedIn()) {
                runApp;
            } else {
                liff.login();
            }
        }, err => console.error(err.code, error.message));
    </script>
    <div class="assess_content">
        <h1 style="margin-top: 20%">แบบทดสอบ</h1>
        <h3>ความเสี่ยงการเป็นโรคซึมเศร้า</h3>

        <p style="color: #E34545; font-weight: 600;
        font-size: 20px;">คำเตือน</p>
        <h2>บางคำถามอาจทำให้รู้สึกไม่ดีหรือไม่สบายใจได้ <br>ถ้ารู้สึกว่าไม่อยากทำต่อไม่ต้องห่วง
            <br>เธอกดปิดได้เลยทันที<br>และระบบจะไม่คำนวณและบันทึกผลใด ๆ ในครั้งนี้
        </h2>
        <button class="answer_box" onclick="window.location.href='/assessment/depress/2Q?id='+ userProfile">
            ฉันรับรู้และต้องการประเมินต่อ
        </button>
    </div>
</body>

</html>