<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ประเมินโรคซึมเศร้า</title>

    <style>
        html {
            background: url(/images/BG-375-667.png) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        body {
            font-family: "Kanit", sans-serif;
        }

        h1 {
            color: #223e63;
            font-weight: 800;
            font-size: 35px;
            line-height: 80%;
        }

        h2 {
            color: #223e63;
            font-weight: 400;
            font-size: 16px;
            padding: 0% 10% 5% 10%;
        }

        h3 {
            color: #223e63;
            font-weight: 300;
            font-size: 20px;
        }

        a {
            text-decoration: none;
        }

        p {
            color: #223e63;
            font-weight: 400;
            font-size: 14px;
            padding: 0% 10% 5% 10%;
        }

        .assess_content {
            text-align: center;
        }

        .question {
            margin: 20% 5% 10% 5%;
        }

        .answer_box {
            background-color: white;
            border: none;
            width: 100%;
            padding: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px;
            font-family: "Kanit", sans-serif;
        }

        .medium_risk {
            color: #DAAA00;
            font-weight: 500;
            font-size: 32px;
        }

        .low_risk {
            color: #2ABD4A;
            font-weight: 500;
            font-size: 32px;
        }

        .high_risk {
            color: #E34545;
            font-weight: 500;
            font-size: 32px;
        }
    </style>
</head>

<body>
    <div class="assess_content">
        <h1 style="margin-top: 20%">แบบทดสอบ</h1>
        <h3>ความเสี่ยงการเป็นโรคซึมเศร้า</h3>

        <div class="medium_risk">ความเสี่ยงปานกลาง</div>
        <p>นุ่มฟูคิดว่าคุณมีความเศร้ามากกว่าคนอื่นอยู่นะ ตอนนี้ยังไม่เยอะมาก ไม่น่าเป็นห่วง<br>แต่ถ้าปล่อยไว้นาน ๆ
            อาจจะเป็นผลเสียกับสุขภาพจิตได้<br>ทางที่ดีเราอยากให้เธอลดการจดจ่ออยู่กับเรื่องที่กังวลใจ
            พยายามจัดการกับเรื่องที่เข้ามาากวนใจ<br>เลี่ยงอะไรที่จะทำให้เครียดหรือหาใครสักคนมาคุยด้วยเพื่อระบายความรู้สึกบ้าง
        </p>
        <p>ถ้าคุณกังวลใจ ไม่รู้จะจัดการกับความเศร้าอย่างไรดี<br>นุ่มฟูแนะนำให้ลองนัดพบนักจิตวิทยาในเมนูด้านล่างแชทของนุ่มฟูดูนะ</p>
    </div>
</body>

</html>